apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-java
spec:
  replicas: 2
  selector:
    matchLabels:
      app: hello-java
  template:
    metadata:
      labels:
        app: hello-java
    spec:
      containers:
      - name: hello-java-jenkins
        image: hello-java-jenkins:latest 
        imagePullPolicy: Never
        ports:
        - containerPort: 8080
